* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple: rgba(120, 105, 200, 0.32);
  --neutral-900: #171717;
  --neutral-800: #262626;
  --neutral-700: #404040;
  --neutral-600: #525252;
  --neutral-400: #a3a3a3;
  --neutral-300: #d4d4d4;
  --neutral-50: #fafafa;
  --gradient-linear-10: linear-gradient(135deg, #4568dc 0%, #b06ab3 100%);
  --speed: 0.5s;
  --animation: ease;
  --border-size: 1px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--neutral-400);
  line-height: 1.5;
  background: var(--neutral-900);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

::selection {
  background: var(--purple);
  color: #fff;
}
::-moz-selection {
  background: var(--purple);
  color: #fff;
}

/*Reset apple form styles*/
input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-image: none;
}

.page-wrap {
  overflow: clip;
  min-height: 100vh;
}

header {
  padding: 3rem 0;
}
.section {
  padding: 3rem 0;
  position: relative;
}
footer {
  padding: 10rem 0rem 3rem 0rem;
  position: relative;
  text-align: center;
}

.modal__wrap {
  max-width: 42rem;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 90rem;
  position: relative;
}

.modal {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 0.6875rem;
  border: 1px solid var(--neutral-600, #525252);
  background: var(--neutral-800, #262626);
  transition: all var(--speed) var(--animation);
}

.modal:hover {
  box-shadow: 0px 0px 70px -8px rgba(120, 105, 200, 0.27);
  transform: scale(1.05);
}

.input {
  all: unset;
  box-sizing: border-box;
  flex-grow: 2;
  display: block;
  padding: 0.75rem;
  border-radius: 0.3125rem;
  color: var(--neutral-300);
  border: solid var(--border-size) var(--neutral-800);
  background: var(--neutral-700, #404040);
  transition: background var(--speed) var(--animation);
}

.input::placeholder {
  color: inherit;
}

.input:focus {
  background: var(--neutral-600);
}

.btn,
.btn:link,
.btn:visited {
  all: unset;
  display: inline-block;
  color: var(--neutral-50);
  flex-shrink: 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1.25rem;
  border-radius: 0.3125rem;
  border: var(--border-size) solid var(--gradient-linear-10, #4568dc);
  background: var(--gradient-linear-10, (135deg, #4568dc 0%, #b06ab3 100%));

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all var(--speed) var(--animation);
}

.note__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.note {
  padding: 1px;
  display: flex;
  min-height: 17rem;
  position: relative;
  border-radius: 0.6875rem;
  transition: all var(--speed) ease;
  background: var(--neutral-700, #404040);
}

.note__content {
  width: 100%;
  border-radius: inherit;
  padding: 1.25rem 3rem 1.25rem 1.25rem;
  background: var(--neutral-800, #262626);
  transition: background var(--speed) var(--animation);
}

.note.active {
  background: var(--gradient-linear-10, (135deg, #4568dc 0%, #b06ab3 100%));
  color: var(--neutral-300, #d4d4d4);
  box-shadow: 0px 0px 40px -8px rgba(120, 105, 200, 0.25);
  transform: scale(1.05);
}

.note.active .note__content {
  background: var(--neutral-700, #262626);
}

.icon__wrap {
  position: absolute;
  top: 0.75em;
  right: 0.75em;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.icon__animation:hover .icon__gradient {
  opacity: 1;
}
.icon__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all var(--speed) var(--animation);
}
.icon__grey {
  transition: all var(--speed) var(--animation);
}
.icon__animation:hover .icon__grey {
  opacity: 0;
}

.note__text {
  width: 100%;
  height: 100%;
}

.note__text:focus-visible {
  outline: 0;
}

.footer__gradient {
  position: absolute;
  left: 50%;
  top: 6.87rem;
  width: 126.8125rem;
  height: 90.125rem;
  border-radius: 100%;
  transform: translateX(-50%);
  border: 1px solid var(--neutral-700, #404040);
  background: var(--neutral-900, #171717);
  box-shadow: 0px -20px 128px -8px var(--purple);
}

.flex {
  display: flex;
}

.flex.gap-1-5 {
  gap: 1.5rem;
}

.flex.justify-content-center {
  justify-content: center;
}

.mt-1-5 {
  margin-top: 1.5em;
}

.mt-2-5 {
  margin-top: 2.5em;
}

.social-link {
  position: relative;
}

@media screen and (max-width: 1150px) {
  .note__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 760px) {
  .note__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .modal__wrap {
    width: 100%;
  }

  .input {
    width: 100%;
  }
}

/* Above tablet */
@media screen and (min-width: 991px) {
  .note:hover {
    background: var(--gradient-linear-10, (135deg, #4568dc 0%, #b06ab3 100%));
    color: var(--neutral-300, #d4d4d4);
    box-shadow: 0px 0px 40px -8px rgba(120, 105, 200, 0.25);
    transform: scale(1.05);
  }

  .note:hover .note__content {
    background: var(--neutral-700, #262626);
  }
}

@media screen and (max-width: 512px) {
  .note__list {
    grid-template-columns: 1fr;
  }
  .container {
    width: 85%;
  }

  .modal {
    flex-direction: column;
  }

  .btn,
  .btn:link,
  .btn:visited {
    text-align: center;
  }

  .section,
  header {
    padding: 2rem 0;
  }
}
